<div class="header">
<ng-container *ngIf="isLoggined; else notAuthorised">
    <p-menu #menu [model]="items" [popup]="true" styleClass="menucus"></p-menu>
    <button pButton class="p-button-text user-btn" (click)="menu.toggle($event)">
        <i class="pi pi-user"></i>
        {{user.name}}
        <i class="pi pi-chevron-down"></i>
      </button>
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
    <button pButton class="new-ad-btn" routerLink="/create-ad">
        Новое объявление
        <i class="pi pi-plus"></i>
    </button> 
</ng-container>   
<ng-template #notAuthorised>
    <button pButton class="p-button-text user-btn" (click)="showAuthorizationDialog()">
        <i class="pi pi-user"></i>
         Войти
      </button>
    <button pButton class="new-ad-btn" (click)="showAuthorizationDialog()">
        Новое объявление
        <i class="pi pi-plus"></i>
    </button>   
</ng-template>
</div>
