<ng-container *ngIf="ad; else skeleton">
<div class="card" routerLink="ad-view/{{ad.id}}">
    <div class="image-wrapper">
    <img [src]="ad.imageUrl" class="image">
    </div>
    <h4 class="title">{{ad.name}}</h4>
    <p class="price">{{ad.price}}</p>
    <p class="address">{{ad.address}}</p>
    <p class="date">{{ad.createdAt}}
    </p>
</div>
</ng-container>

<ng-template #skeleton>
<div>
    <p-skeleton width="100%" height="240px" styleClass="mb-2"></p-skeleton>
    <p-skeleton
        class="skeleton-item"
        styleClass="mb-2"
        width="80%"
        height="22px"
    ></p-skeleton>
    <p-skeleton
        class="skeleton-item"
        styleClass="mb-2"
        width="60%"
        height="22px"
    ></p-skeleton>
    <p-skeleton
        class="skeleton-item"
        styleClass="mb-2"
        width="50%"
        height="18px"
    ></p-skeleton>
    <p-skeleton
        class="skeleton-item"
        styleClass="mb-2"
        width="40%"
        height="18px"
    ></p-skeleton>
</div>
</ng-template>



