<ng-container *ngIf="isAuthenticated; else registration">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <div>
    <p-inputMask
    [ngClass]="{'input-invalid': loginForm.controls['login'].invalid && loginForm.controls['login'].touched}"
    class="input" 
    type="text" 
    mask="+7(999) 999-99-99"
    placeholder="Номер телефона"
    formControlName="login"
    >
    </p-inputMask>
    <p 
    *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched" 
    class="warning">Введите номер телефона</p>
    </div>
    <div>
    <input 
    [ngClass]="{'input-invalid': loginForm.controls['password'].invalid && loginForm.controls['password'].touched}"
    type="password" 
    pInputText 
    placeholder="Пароль"
    formControlName="password"
    />
    <p 
    *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" 
    class="warning">Введите пароль</p>
    </div>
    <div class="btn-group">
    <button pButton 
    type="submit">
    Войти</button>
    <button pButton 
    type="submit"
    (click)="isAuthenticated = false">
    Зарегистрироваться</button>
    </div>
    </form>
</ng-container>
<ng-template #registration>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <input
          type="text"
          pInputText
          placeholder="Номер телефона"
          formControlName="login"
        />
        <input
        type="text"
        pInputText
        placeholder="Имя"
        formControlName="name"
        />
        <input
          type="password"
          pInputText
          placeholder="Пароль"
          formControlName="password"
        />
        <input
          type="password"
          pInputText
          placeholder="Подтвердите пароль"
          formControlName="confirmPassword"
        />
        <div class="btn-group">
        <button
        pButton
        (click)="isAuthenticated = false"
        >Войти
        </button>
        <button 
        type="submit"
        pButton >
        Зарегистрироваться</button>
        </div>
      </form>
</ng-template>
