<div class="container">
    <div class="grid">
        <div class="col-3 parent-category__container">
             <ng-container *ngFor="let rootCategory of categories">
                <div class="parent-category"
                (click)="selectCategory(rootCategory)">
                 {{rootCategory.name}}<i class ="pi pi-chevron-right"></i>
                </div>
             </ng-container>
        </div>
        <div class="col-9" *ngIf="selectedCategory">
          <div class="parent-category_name" >
          <span>{{selectedCategory.name}}</span><i class ="pi pi-chevron-right"></i>
          </div>
          <div class="grid">
            <ng-container *ngFor="let category of selectedCategory?.child">
                <div class="col-4 sub-category__container">
                    <div class="sub-category_name">{{category.name}}</div>
                    <div class="sub-category" *ngFor="let childCategory of category?.child">{{childCategory.name}}</div>
                </div>
            </ng-container> 
          </div>
        </div>
    </div>
</div>




