.container{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    height: 64px;
    background-color: #F8FAFC;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
}
.description{
    font-size: 14px;
    color: #1E293B;
}
.file-input{
    display: none;
}