<p-fileUpload 
[showCancelButton]="false"
[showUploadButton]="true"
[customUpload]="true"
[fileLimit]="10" 
[previewWidth]="160"
(uploadHandler)="onUpload($event)"
[multiple]="false" 
accept=".jpg,.jpeg,.png"
chooseIcon="pi pi-images"
chooseLabel="Добавить картинки"
uploadLabel="Загрузить"
class="upload-container"
>
<ng-template pTemplate="toolbar">
    <div>
      Максимум 10 картинок в формате jpg, jpeg или png
    </div>
</ng-template>
<ng-template pTemplate="content">
        <ul *ngIf="uploadedFile">
            <li>{{ uploadedFile.name }} - {{ uploadedFile.size }}</li>
        </ul>
</ng-template>
</p-fileUpload>

