.upload-container ::ng-deep{
    .p-fileupload-buttonbar {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #1E293B;
      }
      .p-fileupload .p-fileupload-buttonbar .p-button {
        margin-right: 16px;
      }
      .p-fileupload-content {
        .p-progressbar {
          display: none;
        }
      }
      .p-fileupload-row{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0px;
      }
      .p-fileupload-row>div {
        flex:none;
        width:fit-content;
      }
      .p-fileupload-filename{
        max-width: 450px;
        font-weight: 500;
        font-size: 16px;
        color: #1E293B;
      }
      .p-button.p-button-icon-only{
        width: 24px;
        height: 24px;
      }
      .p-fileupload-content {
        .p-fileupload-row > div:nth-child(1) {
          img {
            width: 160px;
            height: 160px;
            object-fit: cover;
          }
        }
      }

}