<p-fileUpload 
[showCancelButton]="false"
[showUploadButton]="true"
[customUpload]="true"
[fileLimit]="10" 
[previewWidth]="160"
(uploadHandler)="onUpload($event)"
[multiple]="true" 
accept=".jpg,.jpeg,.png"
chooseIcon="pi pi-images"
chooseLabel="Добавить картинки"
uploadLabel="Загрузить"
class="upload-container"
>
<ng-template pTemplate="toolbar">
    <div>
      Максимум 10 картинок в формате jpg, jpeg или png
    </div>
</ng-template>
<ng-template pTemplate="content">
        <ul *ngIf="uploadedFile">
            <li>{{ uploadedFile.name }} - {{ uploadedFile.size }}</li>
        </ul>
</ng-template>
</p-fileUpload>

 <!-- <input 
    class="file-input"
    type="file" 
    accept=".png, .jpg, .jpeg"
    [multiple]="true"
    (change)="uploadImage($event)" #fileUpload>
<div class="container">
<p-button 
type="button"
label="Добавить картинки" 
icon="pi pi-images" 
styleClass="p-button-sm"
(click)="fileUpload.click()"></p-button>
<div class="description">
    Максимум 10 картинок в формате jpeg, png или heic
</div>
</div> -->

