<h3>Рекомендации для вас</h3>
    <div *ngIf="isLoading">
        <div class="grid">
            <div class="col-3" *ngFor="let item of skeleton">
            <app-card></app-card>
            </div>
        </div>
    </div>
    
<ng-container *ngIf="ads; else noAds">
    <div class="grid">
    <div class="col-3" *ngFor="let ad of ads">
      <div>
       <app-card [ad]="ad"></app-card>
      </div>
    </div>
    </div>
</ng-container>
<ng-template #noAds><p>У вас пока нет рекомендованных объявлений</p></ng-template>
