h3{
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    color: #1E293B; 
}
.ads-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
    margin-top: 24px;
}