<div class="wrapper">
    <h2 class="heading" routerLink="/">Доска объявлений</h2>
    <button pButton class="p-button-outlined categories-btn" (click)="toggleFilter()">
    <i class="pi pi-bars"></i>
    Все категории
    </button>
    <div class="p-inputgroup search">
        <input type="text" pInputText 
        placeholder="Поиск по объявлениям" 
        [(ngModel)]="searchTerm" 
        (input)="getTerm(searchTerm)"
        (keyup.enter)="search()"/>
        <button type="button" pButton 
        (click)="search()">
        Найти
        <i class="pi pi-search"></i>
        </button>
    </div>
</div>
<app-filter *ngIf="isFilterOpened"></app-filter>



