<div class="wrapper">
    <h2 class="heading" routerLink="/">Доска объявлений</h2>
    <button pButton class="p-button-outlined categories-btn" (click)="toggleFilter()">
    <i class="pi pi-bars"></i>
    Все категории
    </button>
    <div class="p-inputgroup search">
        <input type="text" pInputText 
        placeholder="Поиск по объявлениям" 
        [(ngModel)]="searchTerm" 
        (keyup.enter)="filterByName(searchTerm)"/>
        <button type="button" pButton 
        (click)="filterByName(searchTerm)">
        Найти
        <i class="pi pi-search"></i>
        </button>
    </div>
</div>
<app-filter [isFilterOpened]="isFilterOpened"></app-filter>



