.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
  padding: 0 8px;
  font-size: 16px;
  color: #64748B;
  .pi-home{
    cursor: pointer;
    margin-left: 8px;
  }
  .pi-home:active{
    color: #3B82F6;
  }
  .crumb{
    cursor: pointer;
  }
  .crumb:before{
    content: '\2022';
    margin-right: 8px;
  }
}
.breadcrumbs-skeleton{
  margin-top: 32px;
  padding: 0 8px;
}
.name, .price{
    margin-bottom: 16px; 
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #1E293B; 
}
.phone-btn{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
    .pi{
        font-size: 22px;
    }
}
.block{
    margin-bottom: 32px;
    color: #1E293B;
    font-size: 16px;
    line-height: 24px;
    h4{
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
    .link{
      color: #3B82F6;
      cursor: pointer;
    }
}
.skeleton-item{
  display: block;
  margin-top: 10px;
}