<div class="grid">
<ng-container *ngIf="advert; else skeleton">
    <div class="breadcrumbs col-12">
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="col-8">
        <h3 class="name">{{advert.name}}</h3>
        <app-galleria [images]="images"></app-galleria>
    </div>
    <div class="col-4">
        <div class="price">{{advert.price | currency:'RUB':'symbol-narrow':'1.0-0':'ru'}}</div>
        <button pButton class="phone-btn" (click)="showUserNumber()">
            <i class="pi pi-phone"></i>
            <span> Показать номер телефона </span>
        </button>
        <div class="block">
            <h4>Адрес</h4>
            <p>{{advert.address}}</p>
            <a class="link" 
            (click)="openMap(advert.address)">
                Открыть на карте
                <i class="pi pi-external-link"></i>
              </a>      
        </div>
        <div class="block">
            <h4>Описание</h4>
            <p>{{advert.description}}</p>
        </div>
    </div>
</ng-container>

<ng-template #skeleton>
    <div class="breadcrumbs col-12">
        <p-skeleton width="20%" height="20px"></p-skeleton>
    </div>
    <div class="col-8">
        <div class="name">
        <p-skeleton width="60%" height="36px"></p-skeleton>
        </div>
        <app-galleria></app-galleria>
    </div>
    <div class="col-4">
        <div class="price">
            <p-skeleton width="30%" height="36px"></p-skeleton>
        </div>
        <p-skeleton 
        class="phone-btn"
        width="100%" 
        height="58px"></p-skeleton>       
        <div class="block">
            <h4>Адрес</h4>
            <p-skeleton
            class="skeleton-item"
            width="70%"
            height="25px"
            ></p-skeleton>
            <p-skeleton 
            class="skeleton-item"
            width="40%"
            height="25px"
            ></p-skeleton>
        </div>
        <div class="block">
            <h4>Описание</h4>
            <p-skeleton
            class="skeleton-item"
            width="90%"
            height="70px"
          ></p-skeleton>  
        </div>
    </div>   
</ng-template>
</div>